@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.footer {
  composes: footer from 'part:@sanity/dashboard/widget-styles';
}

.header {
  composes: header from 'part:@sanity/dashboard/widget-styles';
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}
